.productCards {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding:  0 20px;
    position: relative;
    padding-bottom: 50px;
}

.productCards__heading {
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 10px;
}

.productCards__list {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 2px;
}

.productCards__item {
    max-width: 228px;
    width: 100%;
    transition: 0.3s ease;
    padding-bottom: 15px;
    padding-top: 15px;
}

.productCards__item:hover {
    transform: scale(1.03);
}

.products__imgs {
    width: 196.5px;
    height: 180px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 26px;
}

.productsCategory__wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.products__name {
    font-size: 14px;
    padding-bottom: 20px;
}

.products__price {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.products__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 7px 12px;
    border: none;
    background: #fbc100;
    border: 2px solid #fbc100;
    border-radius: 6px;
}

.products__btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__heart {
    cursor: pointer;
    border: none;
    background: none;
}

.products__compare {
    cursor: pointer;
    border: none;
    background: none;
}

.products__swiper {
    border: none;
    background: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #fff!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__swiper[data-btn-type="right"] {
    right: 0;
}

.products__swiper[data-btn-type="left"] {
    left: 0;
}